version: "3.8"

services:
  abaqus-engine:
    image: abaqusregistry.azurecr.io/abaqus_2024_le:v3-final
    container_name: abaqus_engine
    shm_size: "2gb"
    ports:
      - "6901:6901"
      - "5000:5000" # Explicitly expose the API port
    environment:
      - VNC_PW=password
    volumes:
      - ./shared_data:/home/kasm_user/work
    restart: unless-stopped

  fea-worker:
    build:
      context: .
      dockerfile: Dockerfile.fea-worker
    container_name: fea_worker
    depends_on:
      - abaqus-engine
    env_file:
      - ./services/fea-worker/.env
    volumes:
      - ./shared_data:/app/jobs
    environment:
      - DOCKER_ENV=true
      - ENGINE_URL=http://abaqus-engine:5000
    restart: on-failure